@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.icone {
    justify-content: flex-start;
    display: flex;
    align-content: flex-start;
}

.logocanal {
    justify-content: flex-end;
    align-content: flex-end;
    display: flex;
    border-radius: 20px 20px 20px 20px;
}

.finalheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 360px;
}

.barrapesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 800px;
}

.video {
    margin: 30px;
    padding: 0px;
}

.textovideo {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    margin-left: 28px;
    margin-top: -20px;
}

.infos {
    display: flex;
    justify-content:first baseline;
    align-items: center;
    margin-left: 55px;
    gap: 10px;
}

.ftperfil {
    border-radius: 100%;
}

.like, .deslike, .compartilhar, .download {
    display: flex;
    align-items: center;
    justify-content: center;
}

.escrito {
    display: column;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
}

h2 {
    color: rgb(88, 88, 88);
    font-weight: 100;
}

.inscreva {
    background-color: rgb(182, 5, 5);
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    border: none;
}

.txt {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    gap: 10px;
    margin: 5px;
}

.estatic {
    display: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 55px;
}

.descricao {
    display: center;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
    color: rgb(88, 88, 88);
    font-family: 'Roboto', sans-serif;
}


.lado {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
}

